body {
  background: url(../img/drum.jpg) bottom center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

a {
  margin-bottom: 10%;
  color: #fff;
  direction: none;
}

#holder {
  width: 210px;
  height: 60px;
  border-radius: 40px;
  border: 10px dashed #fff;
}
  
#holder.hover {
  border: 10px dashed #0c0;
}

#form {
  /* margin-top: 30%; */
  width: 230px;
  position: relative;
  font-size: 0;
}

.wrap {
  display: inline-block;
}

input[name="userFile"] {
  width: 100px;
  height: 60px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  opacity: 0;
  cursor: pointer;
}

#input-wrap {
  float: left;
  width: 100px;
  height: 60px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border: 10px solid #000;
}

#preview {
  z-index: -1;
  width: 90px;
  height: 60px;
  position: absolute;
  top: 10px;
  left: 20px;
}

#form button {
  background: transparent;
  display: inline-block;
  width: 110px;
  height: 80px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border: 10px solid #000;
  border-left: none;
}

#uploadprogress {
  width: 100%;
  display: block;
  margin-bottom: 10%;
}
